body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.grid {
  display: grid;
  grid-template-columns: repeat(18, 30px);
  grid-template-rows: repeat(11, 30px);
  gap: 1px;
}
.cell {
  width: 30px;
  height: 30px;
  background-color: #eee;
  border: 1px solid #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell button {
  width: 100%;
  height: 100%;
  border: none; /* Remove default button border */
  background-size: cover;
}

@keyframes buttonClickAnimation {
  0% { transform: scale(1); border: 1px solid red;}
  50% { transform: scale(1.1); border: 1px solid  transparent;}
  100% { transform: scale(1);border: 1px solid red;}
}

.button-clicked {
  animation: buttonClickAnimation 0.5s ease;
}
